[Unit]
Description=Power Advisor
After=network-online.target network.target

[Service]
Type=simple
EnvironmentFile=/etc/sd.env
ExecStart=/opt/sd/bin/pa -c /opt/sd/etc/pa.json -l /opt/sd/log/pa.log -a
Restart=on-failure

[Install]
WantedBy=multi-user.target
