[Unit]
Description=Sunny Island Event Mirror
After=network-online.target network.target mosquitto.service influxdb.service

[Service]
Type=simple
EnvironmentFile=/etc/sd.env
ExecStart=/opt/sd/bin/si_mirror
Restart=on-failure

[Install]
WantedBy=multi-user.target
