[Unit]
Description=PV Combiner Mirror
After=network-online.target network.target mosquitto.service influxdb.service

[Service]
Type=simple
EnvironmentFile=/etc/sd.env
ExecStart=/opt/sd/bin/pvc_mirror > /opt/sd/log/pvc_mirror.log 2>&1
Restart=on-failure

[Install]
WantedBy=multi-user.target
