[Unit]
Description=HVAC Controller
After=network-online.target network.target

[Service]
Type=simple
EnvironmentFile=/etc/sd.env
ExecStart=/opt/sd/bin/ac -c /opt/sd/etc/ac.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
